<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/order">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/payment">Payment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/notification">Notification</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" routerLink="/OrderUser">OrderUser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/OrderNotification">OrderNotification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Orderpayment">Orderpayment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/paymentNotification">paymentNotification</a>
      </li>
    </ul>
  </div>
</nav>


